h3{
    margin: auto;
    width: fit-content;
    padding-right: 100px;
}

.jeu{
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.jeu div{
    width: 25px;
    height: 25px;
}

.invader {
    background-color: blue;
}

.shooter{
    background-color: red;
}