@font-face {
    font-family: "Star Wars";
    src: url("ressources/SfDistantGalaxyAlternate-OE4d.ttf");
}
@font-face {
    font-family: "Space age";
    src: url("ressources/space age.ttf");
}
  
h1 {
    font-family: "Star Wars";
    text-shadow: yellow 1px 1px, yellow -1px 1px, yellow -1px -1px, yellow 1px -1px;
    font-size: 4em;
    text-align: center;
    margin: 15px;
}

.container{
    display: flex;
    flex-direction: row;
}
.container2{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.container2 p{
    font-family: "Star Wars";
    margin: 30px;
    padding: 0;
}

p{
    margin: auto;
    width: fit-content;
    padding-right: 100px;
    color: white;
}

body{
    background-color: black;
}

.jeu{
    margin: auto;
    width: 600px;
    height: 600px;
    background: url("ressources/space.gif");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
}

.jeu div{
    width: 20px;
    height: 20px;
    margin: 5px;
}

.invader {
    background-image: url("/ressources/ennemies.png");
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin: 5px;
}

.shooter{
    background-image: url("/ressources/vaisseau.png");
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    rotate: 180deg;
    margin: 5px;
}

.boom{
    background-image: url("/ressources/explosion.png");
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    rotate: 180deg;
    margin: 5px;
}

.bullet{
    background-image: url("/ressources/red-laser.png");
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    rotate: 90deg;
}

.bulletAliens{
    background-image: url("/ressources/AlienLaserBullet2.png");
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    rotate: 90deg;

}

.start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
}

.decorButton{
    font-family: "Star Wars";
    text-shadow: yellow 1px 1px, yellow -1px 1px, yellow -1px -1px, yellow 1px -1px;
    font-size: medium;
    text-align: center;
    background: transparent;
    border: none;
    margin: 0px 10px;
    padding: 10px;
}

.decorButton:hover{
    cursor: pointer;
    border: 5px solid yellow;
    border-radius: 5em;
    background-color: transparent;
}

#victoire{
    width: 600px;
    height: 600px;
    margin: auto;
    border: 1px solid white;
    display: none;
}

.game-over01 {
    justify-content: center;
    font-family: "Space age";
    text-shadow: red 1px 1px, red -1px 1px, red -1px -1px, red 1px -1px;
}

#gameOver{
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#video {
    display: flex;
    width: 100%;
    justify-content: center;
}

.Restart01 {
    display: flex;
    font-family: "Space age";
    text-shadow: red 1px 1px, red -1px 1px, red -1px -1px, red 1px -1px;
    justify-content: center;
    font-size: 50px;
    background: none;
    border: none;
}

.Restart01:hover {
    padding: 0px 15px;
    cursor: pointer;
    border: 10px solid red;
    border-radius: 5em;
    background-color: transparent;
}

#restarted {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.limits{
    width: 25px;
    height: 25px;
}